@model IEnumerable<ticketSystem.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-controller="Categories"
       asp-action="Create"
       class="btn btn-primary">
        Create New
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.CreatedAt</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@c.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
